# Ignore virtual environments
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore CSV files (optional)
*.csv

# Ignore IDE-specific files
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
